services:
  frontend:
    image: ghcr.io/${IMAGE_REPO}:${IMAGE_TAG}
    restart: unless-stopped
    ports:
      - "5006:80"
    networks:
      - web-proxy

networks:
  web-proxy:
    external: true
    name: web-proxy
