.footer {
    width: 100%;
    background-color: var(--color-dark-bg);
    color: var(--color-footer-text);
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}